<%- include('layout-start') %>

<main>
    <%- include('partials/hero') %>
    <%- include('partials/about') %>
    <%- include('partials/skills') %>
    <%- include('partials/experience') %>
    <%- include('partials/projects') %>
    <%- include('partials/awards') %>
    <%- include('partials/certifications') %>
    <%- include('partials/contact') %>
</main>

<%- include('layout-end') %>
